<!DOCTYPE html>
<html lang="en">
   {% load static %}
   {% include 'head.html' %}
   <body>
      <!-- Diğer kodlar -->
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark primary-color">
         <a class="navbar-brand" href="{% url 'home' %}">
            <!-- Logo -->
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav ml-auto nav-flex-icons">
               {% if user.is_authenticated %}
               <li class="nav-item">
                  <a class="nav-link" href="#">
                     <i class="fas fa-user"></i>
                     {{ user.username }}
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">
                     <i class="fas fa-sign-out-alt"></i>
                     Çıkış Yap
                  </a>
               </li>
               {% else %}
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">
                     <i class="fas fa-sign-in-alt"></i>
                     Giriş Yap
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">
                     <i class="fas fa-user-plus"></i>
                     Üye Ol
                  </a>
               </li>
               {% endif %}
            </ul>
         </div>
      </nav>
      <!-- Navbar -->
      <div class="container">
         <!-- Diğer kodlar -->
         {% block content %}
         {% endblock %}
      </div>
      <!-- Diğer kodlar -->
      <!-- Footer -->
      <footer class="page-footer text-center text-md-left unique-color-dark pt-0">
         <!-- Diğer kodlar -->
      </footer>
      <!-- Footer -->
      {% include 'scripts.html' %}
      <script>
         // Diğer kodlar
      </script>
   </body>
</html>
